.secao {
  display: grid;

  gap: 16px;
}

.titulo-secao {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .secao {
    grid-template-columns: repeat(4, 1fr);
  }

  .titulo-secao {
    grid-column: span 4;
  }

  .secao-produtos {
    grid-area: secao-produtos;
  }

  .secao-videos {
    grid-area: secao-videos;
  }
}
