@import url("cabecalho.css");
@import url("menu-lateral.css");
@import url("principal.css");

@font-face {
  font-family: "icones";
  src: url(../font/icones.ttf);
}

body {
  background-color: #1d232a;
  font-family: "Open Sans", "icones", sans-serif;
  color: #ffffff;
}
